#content-container {
    width: 65%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.attackimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.attack-text {
    margin-top: 4%;
    font-size: 1.2rem;
    text-align: justify;
}

.uses-heading,
.types-heading {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.uses-type-ul,
.type-ul {
    margin-top: 4%;
    font-size: 1.2rem;
    text-align: justify;
}

@media(max-width: 768px){
    #content-container {
        width: 90%;
    }
    .attackimg {
        width: 45%;
    }
    
    .attack-text {
        margin-top: 4%;
        font-size: 1.1rem;
    }
    
    .uses-type-ul,
    .type-ul {
        font-size: 1.1rem;
    }
}
@media(max-width: 440px){
    #content-container {
        width: 98%;
    }
    .attackimg {
        width: 65%;
    }
    
    .attack-text {
        margin-top: 4%;
        font-size: 1.1rem;
        text-align: left;
    }
    
    .uses-heading,
    .types-heading {
        font-size: 1.6rem;
    }
    
    .uses-type-ul,
    .type-ul {
        margin-top: 4%;
        font-size: 1.1rem;
    }
}
/* footer section code starts here */
footer {
    position: relative;
    background: #111;
    height: auto;

    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;

}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    padding: 20px;
    text-align: center;
}

.footer-bottom p {
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    margin-bottom: 20px;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    border: 1.3px solid white;
    padding: 6px 15px;
    border-radius: 50px;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width:1500px) {
    .footer-menu ul {
        display: inline;
    }

    .footer-menu ul li {
        margin-bottom: 20px;
    }
}

@media (max-width:500px) {
    .footer-menu ul {
        display: inline;
    }

    .footer-menu ul li {
        margin-bottom: 20px;
    }
}